$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap.scss';
@import 'scss/variables';
@import 'scss/landing';
@import 'scss/typography';
@import 'scss/forms';
@import 'scss/submitArticle';

#color_1, #color_2, #color_3{
	width:33.3%;
	height:5px;
	float:left;
	margin-top:-2px;
}
#color_1 {background:$brandYellow;}
#color_2 {background:$brandBlue;width:33.4%;}
#color_3 {background:$brandRed;}

.logo {
	width: 500px;
	height:125px;
	background-image: url(../images/cnclogo.svg);
	background-repeat:no-repeat;
}
.globalNav{
    a{
        font-family: $brandFont, helvetica, arial, sans-serif;
        font-size:3.5rem;
        color:#666;
        padding: 0 2rem;
        text-decoration: none;
        &:hover{color:#333;}
    }
}

.globalHeader{
	width:100%;
	//background-color: #fff;
	padding-top: 3rem;
}

article{
	padding-top: 20rem;
}

.headroom--pinned{
	position: fixed;
}

.headroom{
	background-color: red;
}