<div ng-include="'partials/navbar.html'"></div>
<div class="copy">
	<p>I think my approach to design is really what sets me apart, because it emphasizes the relationship between the users and the product as much as the relationship between client and designer.</p>
</div>
<div class="processMain">
	<div class="discover">
		<h3>Discover</h3>
		<p>The Discovery phase has two parts. It begins with a deep assessment of the products goals,and it's intended demographic. This is utilized to choose UX patterns that best fit those goals.</p>
	</div>
	<div class="plan">
		<h3>Plan</h3>
		<p>With limitless options and choices available I use the knowledge I've collected from years of experience combined with the information I've gathered from you to choose the best path to build your brands online prescence. I balance the most cutting edge technology with timeless design philosophy to perfectly communicate your brand.</p>
	</div>
	<div class="create">
		<h3>Create</h3>
		<p>The fun part. It all comes together here, long days and longer nights sketching, designing, prototyping, coding and writing I put the plan we've created into the world. With regular status updates you get to see just how your product is put together. I craft an engaging user experience that makes your clientele happy to return as often as possible increasing the return on your investment. Mixing and baking up the perfect soltions to the problems your brand faces is my speciality and this step is the entree of the night.</p>
	</div>
	<div class="deliver">
		<h3>Deliver</h3>
		<p>Optimizing, testing and analyzing the resulting dish until it's been perfected I stay with you through the launch and as long as possible providing support and answering any questions. My ability to communicate and problem solve is bar none and this step perfectly reflects that. You hit the ground running and I make sure of this.</p>
	</div>
</div>