<div ng-include="'partials/navbar'"></div>
<div class="everythingButNav">
  <div class="hero" full-page>
    <div class="personal-intro">
      <h2>The portfolio of user interface/user experience designer, and full-stack developer <span class="myName" ng-click="pusssh()">Patrick Cauley.</span></h2>
      <img src="images/landing.svg" alt="Landing Page Illustration - Monitor" class="monitor"> 
    </div>
  </div>
  <div class="job-descript" full-page>
    <h2>Problem Solver - Write about how you're a problem solver</h2>
      <div class="design">
        <h3>User Interface &amp; User Experience Design</h3>
        <p>Designing effective interfaces and engaging experiences requires more than just a an indepth knowledge of graphic design. A great user experience depends on understanding your demographic, your product and your user's culture.</p>
        <h4>Library</h4>
        <p>It's my personal library of knowledge that allows me to make effective websites and applications. Studying design in all of it's forms is not only my job but it's one of my passions as well. </p>
      </div>
      <div class="dev">
        <h3>Full-Stack Development</h3>
        <p>Design isn't simply how something looks, it's how it acts. A well designed user experience has to be a well developed one as well. Writing the code that powers my interfaces allows me to have complete control over making the perfect experience.</p>
        <h4>Toolbox</h4>
        <p>When you love what you do, the tools you use become a part of you. I think it's important to share the tools I've come to love with anyone looking to work with me. Due to my fluid nature I've actually used a variety of stacks depending on the project and requirements. I have about 3 key stacks I use. </p>
        <h4>The Kitchen Sink Stack</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>PostgreSql</li>
          <li>EmberJS</li>
          <li>Bourbon Neat</li>
        </ul>
        <h4>The Easy Start Stack</h4>
        <ul>
          <li>Laravel</li>
          <li>MySQL</li>
          <li>jQuery</li>
          <li>Bootstrap</li>
        </ul>
        <h4>The Falling Forward Stack</h4>
        <ul>
          <li>NodeJS</li>
          <li>AngularJS</li>
          <li>MongoDB</li>
          <li>Express</li>
          <li>Bourbon Neat</li>
        </ul>
      </div>
  </div>
      <!--<div class="addiction">
        <h3>Coffee</h3>
        <p>Something has to bring together the design, developemt and implementation. I couldn't do it without a good amount of caffeine. Generally I prefer artisan coffee brewed in whatever the latest hipster methodology recommends but I'll settle for drip, or even energy drinks if I'm in a hurry.</p>
      </div>-->
  <div class="about" full-page>
      <div class="">
          <h2>About Cranes &amp; Caffeine</h2>
          <img src="images/DesignNerd.svg" alt="Picture that says 'Official Design Nerd'" class="designNerd">
        <p>
          Cranes and Caffeine is simply an extension of myself, Patrick Cauley, official design nerd. I've always had a passion for graphic design and tinkering with the web, somewhere along the way I decided I wanted to do something withn it. Starting out web design wasn't a career choice for me but a love affair, we had our first date when I was sixteen, in my bedroom with a stack of books, an old IBM model M keyboard, and as much coffee as I could brew. I spent years teaching myself as much as I could about graphic design, branding, and front-end development, putting in summers and long nights hunched over my keyboard to get the fullest understanding of how users interact with brands on the web. Graphic and web design were my first real passions and that translates into the work I do today for my clientle.
        </p>
      </div>
      <div class="">
        <h3>Why Cranes &amp; Caffeine</h3>
        <p>
          Consuming prodigious amounts of caffineated beverages is what helped give me the free time between working full time and attending school to learn design. That's where the second portion of my alter ego comes from, the first portion originates with a simple hobby of folding origami cranes. Leaving a craned folded from some scrap of paper became a bit of a trademark of mine that I've done as long as I can remember.
        </p>
      </div>
  </div>
</div>