<div ng-include="'partials/navbar'"></div>
<div class="everythingButNav">
  <div class="work">
    <h1>Current Projects</h1>
    <p>I have a tendecny to stay very very busy, here is a list of some of the things I am currently working on.</p>
    <h2>Policy Battles (working title)</h2>
    <h4><em>Utilizing:</em> The Kitchen Sink Stack.</h4>
    <p>A small project aimed at creating a forum for intense political discussion. With a side of score keeping.</p>
    <h2>The Children's Health Market</h2>
    <p>The Children's Health Market is the creator of The Great Body shop, a health curriculum for students Pre-K through Middle School. While a small company their relatively large network of contractors and researchers requires them to maintain a large infrastructure of web applications including custom made CRM software, educational systems and more.</p>
    <h3>Public Marketing Website</h3>
    <h4><em>Utilizing:</em> The Easy Start Stack.</h4>
    <p>A simple CMS including a blog meant to be updated by anyone without knowledge of HTML/CSS. Our product allowed us to have some fun in with the design and interactions involved in their marketing site. Creating the scrolling animations for our about us page was especially fun.</p>
    <h3>The Customer Relations Manager</h3>
    <h4><em>Utilizing:</em> The Easy Start Stack <em>with an Angular Twist</em></h4>
    <p>The internal software used to manage projects within the company, customer concerns, order tracking, and more. Built on the Laravel PHP framework for easy set up of an API for databse communication we used AngularJS in order to create a fluid and fast interface that makes the often complex tasks very simple.</p>
  </div>
</div>