.hero{
	position: relative;
	height:410px;
	background-color: $brandBlue;
	padding: 2rem;
	margin-bottom: 1rem;
}

.ampersand{
	background-image: url('../images/ampersand.svg');
	width:100px;
	height:100px;
	display:inline-block;
	vertical-align: middle;
}
.personal-intro{
	@include outer-container;
	margin:0 auto;
	text-align: center;
	color:$darkNeutral;
	h2{
		font-size:3rem;
		@include media(max-width 320px){
			font-size:2rem;
		}
	} 
}
.monitor{
	width:400px;
	position: absolute;
	bottom:-1px;
	left:50%;
	right:50%;
}
.job-descript, .about{
	@include outer-container;
	@include row;
}
.design, .dev{
	padding:5px;
	@include span-columns(6);
	@include media(max-width 700px){
		@include span-columns(12);
	}
}
.designNerd{
	width:75%;
	display: block;
	margin:0 auto;
}
.myName{
	font-weight: 900;
}
